$primary-color: #121212;

body {
  // 본문의 기본 글자 색상을 primary-color 변수의 값으로 사용
  color: $primary-color;

  /* 임시로 배경 색상 지정 */
  background: yellow;
  /*! 이 주석은 압축(compressed) 모드에서도 출력됨 */
}

p /* 여러 줄 주석은 어디서나 사용 가능합니다.
	 * 공백 또한 허용합니다. */ .sans {
  font: SpoqaHanSans,
    // 한 줄 주석도 이렇게 사용 가능합니다.
    Helvetica,
    Verdana, sans-serif;
}
